{% load static table_utils %}
<div class="flex flex-wrap items-center gap-x-2 gap-y-0.5">
  {% for applied_filter in filter_applied %}
    <div class="flex items-center gap-0.5 rounded-box bg-base-200 px-1 py-0.5">
      <span class="badge badge-xs badge-primary badge-soft">{{ model|verbose_name:applied_filter.field|capfirst }}</span>
      {% for filter in applied_filter.values %}
        <span class="badge badge-xs gap-1">
          {{ filter.value }}
          <button type="button" hx-get="{% querystring filter.remove %}" class="cursor-pointer" aria-label="Remove {{ filter.value }}">
            <img src="{% static 'icons/x-mark.svg' %}" class="size-3" alt="">
          </button>
        </span>
      {% endfor %}
    </div>
  {% endfor %}
</div>
