{% load static %}
<div class="flex items-center gap-2">
  <form
    hx-get="{{ filters_base_url }}"
    class="dropdown dropdown-bottom"
    x-data="{ open: false, active: null }"
    :class="{ 'dropdown-open': open }"
    @click.outside="open = false; active = null">
    <button type="button" class="btn btn-sm btn-primary" :aria-expanded="open" @click="open = !open; active = null">
      <img src="{% static 'icons/funnel.svg' %}" class="size-4" alt="">
      Filter
    </button>

    <ul
      class="dropdown-content menu menu-xs z-10 w-[254px] rounded-box bg-base-100 shadow-xs"
      x-show="open && !active"
      style="display: none">
      <li class="menu-title">Filter by</li>
      {% for filter in filters %}
        <li>
          <button type="button" @click="active = '{{ filter.accessor }}'">{{ filter.label }}</button>
        </li>
      {% endfor %}
    </ul>

    {% for filter in filters %}
      <div
        class="dropdown-content card card-sm card-border z-10 w-[254px] bg-base-100 shadow-sm"
        x-show="open && active === '{{ filter.accessor }}'"
        style="display: none">
        <div class="card-body">
          <div class="card-title gap-2">
            <button type="button" class="btn btn-xs btn-primary btn-ghost" aria-label="Back to filters" @click="active = null">
              <img src="{% static 'icons/arrow-left.svg' %}" class="size-4" alt="">
            </button>
            <span>{{ filter.label }}</span>
          </div>

          {% include "table/filters/"|add:filter.type|add:".html" with filter=filter only %}
        </div>
      </div>
    {% endfor %}
  </form>

  <button type="button" class="btn btn-sm" {% if filters_base_url %}hx-get="{{ filters_base_url }}"{% endif %} {% if not filters_applied %}disabled{% endif %}>Clear all</button>
</div>
