{% load static utils %}
<div class="flex items-center gap-2">
  <form
    class="dropdown dropdown-bottom"
    x-data="{
      open: false,
      active: null,
    }"
    :class="{ 'dropdown-open': open }"
    @click.outside="
      open = false;
      active = null;
    ">
    {% group_params request as query %}
    {% for key, values in query.page %}
      {% if key != "page" %}
        {% for value in values %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
      {% endif %}
    {% endfor %}
    <button
      type="button"
      class="btn btn-sm btn-primary"
      :aria-expanded="open"
      @click="
        open = !open;
        active = null;
      ">
      <img src="{% static 'icons/funnel.svg' %}" class="size-4" alt="">
      Filter
    </button>

    <ul
      class="dropdown-content menu menu-xs z-10 w-[254px] rounded-box bg-base-100 shadow-xs"
      x-show="open && !active"
      style="display: none">
      <li class="menu-title">Filter by</li>
      {% for filter in filters %}
        <li><button type="button" @click="active = '{{ filter.field }}'">{{ model|verbose_name:filter.field }}</button></li>
      {% endfor %}
    </ul>

    {% for filter in filters %}
      <div class="dropdown-content card card-sm card-border z-10 w-[254px] bg-base-100 shadow-sm" x-show="open && active === '{{ filter.field }}'" style="display: none">
        <div class="card-body">
          <div class="card-title gap-2">
            <button type="button" class="btn btn-xs btn-primary btn-ghost" aria-label="Back to filters" @click="active = null">
              <img src="{% static 'icons/arrow-left.svg' %}" class="size-4" alt="">
            </button>
            <span>{{ model|verbose_name:filter.field }}</span>
          </div>
          {% include "table/filters/"|add:filter.filter_input_type|add:".html" %}
        </div>
      </div>
    {% endfor %}
  </form>

  {% clear_filters_url request as clear_url %}
  <button
    type="button"
    class="btn btn-sm"
    {% if clear_url %}hx-get="{{ clear_url }}"{% else %}disabled{% endif %}>
    Clear all
  </button>
</div>
