{% load heroicons %}
<div
  class="dropdown dropdown-bottom dropdown-start"
  x-data="{ open: false }"
  :class="{ 'dropdown-open': open }"
  @click.outside="open = false">
  <button type="button" class="flex cursor-pointer items-center gap-1" :aria-expanded="open" @click="open = !open">
    {{ column.label }}
    {% if column.sort.direction == "asc" %}
      {% heroicon_mini "arrow-down" class="size-4" %}
    {% elif column.sort.direction == "desc" %}
      {% heroicon_mini "arrow-up" class="size-4" %}
    {% else %}
      {% heroicon_mini "chevron-up-down" class="size-4 text-base-content/30" %}
    {% endif %}
  </button>

  <ul
    class="dropdown-content menu menu-vertical menu-xs z-10 w-[141px] rounded-box bg-base-100 font-normal"
    x-show="open"
    style="display: none">
    <li class="menu-title">Sort by</li>
    <li>
      <button type="button" {% if column.sort.direction == "asc" %}class="font-semibold"{% endif %}>
        {% heroicon_mini "arrow-down" class="size-4" %}
        Ascending
      </button>
    </li>
    <li>
      <button type="button" {% if column.sort.direction == "desc" %}class="font-semibold"{% endif %}>
        {% heroicon_mini "arrow-up" class="size-4" %}
        Descending
      </button>
    </li>
  </ul>
</div>
