<thead>
  <tr>
    <th scope="col" class="z-[2]">{% include "table/partials/sort.html" with label="Id" only %}</th>
    <th scope="col" class="z-[2]">{% include "table/partials/sort.html" with label="Name" direction="asc" only %}</th>
    <th scope="col" class="z-[2]">{% include "table/partials/sort.html" with label="Email" only %}</th>
    <th scope="col" class="z-[2]">{% include "table/partials/sort.html" with label="Role" only %}</th>
    <th scope="col" class="z-[2]">Status</th>
  </tr>
</thead>
