<div
  id="table-{{ table.id }}"
  class="flex flex-col gap-8"
  hx-target="#table-{{ table.id }}"
  hx-swap="outerHTML"
  hx-push-url="true">

  {% include "table/partials/table_top.html" with table=table only %}

  <div class="overflow-auto max-h-[385px]">
    <table id="{{ table.id }}" class="table table-sm w-full table-pin-rows">
      {% include "table/partials/table_header.html" with table=table only %}
      {% include "table/partials/table_rows.html" with table=table only %}
    </table>
  </div>

  {% if table.pagination %}
    {% include "table/partials/pagination.html" with pagination=table.pagination page_size_options=table.page_size_options only %}
  {% endif %}

  {% if table.actions.bottom_left or table.actions.bottom_right %}
    {% include "table/partials/table_bottom.html" with table=table only %}
  {% endif %}
</div>
