<div
  id="table-users"
  class="flex flex-col gap-8"
  hx-target="#table-users"
  hx-swap="outerHTML"
  hx-push-url="true">

  {% include "table/partials/table_top.html" only %}

  <div class="overflow-auto max-h-[385px]">
    <table id="users" class="table table-sm w-full table-pin-rows">
      {% include "table/partials/table_header.html" only %}
      <tbody>
        {% include "table/partials/table_row.html" with row_id=1 id_label="01" name="Ada Lovelace" email="ada@example.com" role="Admin" status="Active" status_class="badge-success" only %}
        {% include "table/partials/table_row.html" with row_id=2 id_label="02" name="Alan Turing" email="alan@example.com" role="Editor" status="Active" status_class="badge-success" only %}
        {% include "table/partials/table_row.html" with row_id=3 id_label="03" name="Grace Hopper" email="grace@example.com" role="Editor" status="Invited" status_class="badge-warning" only %}
      </tbody>
    </table>
  </div>

  {% include "table/partials/pagination.html" only %}

  {% include "table/partials/table_bottom.html" only %}
</div>
