COMPOSE_PROJECT_NAME=django_project

WEB_PORT=8000

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://localhost,http://localhost
DJANGO_USE_X_FORWARDED_HOST=True
DJANGO_SECURE_PROXY_SSL_HEADER=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
APP_BASE_URL=https://localhost

DATABASE_URL=postgres://django:django@postgres:5432/django_project

SAML_IDP_METADATA_URL=http://keycloak:8080/realms/local/protocol/saml/descriptor
SAML_SP_ENTITY_ID=django-saml
SAML_SESSION_COOKIE_SAMESITE=None

GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60
