<nav class="navbar flex justify-between gap-6 p-4 bg-base-100 shadow-sm">
  <div class="flex gap-6">
    <label for="main-sidebar" class="btn btn-md btn-square btn-outline btn-primary drawer-button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </label>
    {% include "partials/breadcrumbs.html" with uri_path=uri_path %}
  </div>
  <div class="">
    <a class="">
      <img src="https://placehold.co/160x32" alt="">
    </a>
  </div>
</nav>
