<div class="drawer-side">
  <label for="main-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
  <div class="flex flex-col justify-between bg-base-200 min-h-full w-80 p-4 gap-4">
    <div>
      <label for="main-sidebar" class="btn btn-outline btn-square btn-secondary drawer-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </label>
      <ul class="menu menu-lg w-full">
        <li class="menu-title">Navigate to</li>
        <li><a href="#1" class="menu-active">Sidebar Item 1</a></li>
        <li>
          <details>
            <summary>
              <a href="#2">
                Sidebar Item 2
              </a>
            </summary>
            <ul>
              <li><a href="#2-1">Sub-item 1</a></li>
              <li><a href="#2-2">Sub-item 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <ul class="menu w-full">
      <li>
        <a class="flex gap-4">
          <div class="avatar">
            <div class="rounded-full ring-2 ring-offset-base-100 ring-offset-2 ring-primary">
              <img src="https://placehold.co/20" alt="">
            </div>
          </div>
          <span>john.doe@example.com</span>
        </a>
        <ul>
          <li><a href="#3-1">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>