<div
  class="flex flex-col gap-2"
  x-data="{
    initial: [{% for value in filter.values %}'{{ value|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    values: [{% for value in filter.values %}'{{ value|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
    changed() { const a = [...this.values].sort(), b = [...this.initial].sort(); return a.length !== b.length || a.some((value, index) => value !== b[index]) },
  }">
  <ul class="flex flex-col gap-1">
    {% for option in filter.options %}
      <li>
        <label class="flex items-center gap-2">
          <input
            type="checkbox"
            class="checkbox checkbox-xs rounded-sm"
            value="{{ option.value }}"
            x-model="values"/>
          {{ option.label }}
        </label>
      </li>
    {% endfor %}
  </ul>

  {% include "table/filters/actions.html" only %}
</div>
