<div
  class="flex flex-col gap-2"
  x-data="{ values: [{% for value in filter.values %}'{{ value|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}] }">
  <ul class="flex flex-col gap-1">
    {% for option in filter.options %}
      <li>
        <label class="flex items-center gap-2">
          <input
            type="checkbox"
            class="checkbox checkbox-xs rounded-sm"
            value="{{ option.value }}"
            x-model="values"/>
          {{ option.label }}
        </label>
      </li>
    {% endfor %}
  </ul>

  {% include "table/filters/actions.html" only %}
</div>
