{% load heroicons %}
<div class="flex flex-col gap-2">
  <div class="join">
    <input type="search" name="{{ filter.accessor }}" placeholder="search" class="input input-sm validator join-item"/>
    <button type="button" class="btn btn-sm join-item" aria-label="Add criteria">
      {% heroicon_micro "plus" class="size-4" %}
    </button>
  </div>

  {% if filter.values %}
    <div class="flex flex-col items-start gap-2 pt-2">
      {% for value in filter.values %}
        <span class="badge badge-sm badge-ghost gap-1">
          {{ value }}
          <button type="button" aria-label="Remove {{ value }}">
            {% heroicon_micro "x-mark" class="size-3" %}
          </button>
        </span>
      {% endfor %}
    </div>
  {% endif %}

  {% include "table/filters/actions.html" with can_apply=filter.values only %}
</div>
