{% load static %}
<div
  class="flex flex-col gap-2"
  x-data="{
    values: [],
    input: '',
    add() { const value = this.input.trim(); if (value) { this.values.push(value); this.input = '' } },
  }">
  <div class="join">
    <label class="input input-sm validator join-item">
      <img src="{% static 'icons/magnifying-glass.svg' %}" class="size-4 opacity-50" alt="">
      <input type="search" placeholder="search" x-model="input" @keydown.enter.prevent="add()"/>
    </label>
    <button type="button" class="btn btn-sm btn-success join-item" aria-label="Add criteria" @click="add()">
      <img src="{% static 'icons/plus.svg' %}" class="size-4" alt="">
    </button>
  </div>

  <template x-for="(value, index) in values" :key="'input-' + index">
    <input type="hidden" name="value" :value="value"/>
  </template>

  <div class="flex flex-col items-start gap-2 pt-2" x-show="values.length">
    <template x-for="(value, index) in values" :key="index">
      <span class="badge badge-sm badge-ghost gap-1">
        <span x-text="value"></span>
        <button type="button" class="cursor-pointer" :aria-label="'Remove ' + value" @click="values.splice(index, 1)">
          <img src="{% static 'icons/x-mark.svg' %}" class="size-3" alt="">
        </button>
      </span>
    </template>
  </div>

  {% include "table/filters/actions.html" only %}
</div>
